@font-face {
    font-family: 'roboto1', sans-serif;
    src: url(./Assets/Fonts/roboto-v20-latin-300.ttf);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(./The_One/Assets/Fonts/Roboto-Regular.ttf ) format(truetype);
}

@font-face{
    font-family:"rob2";
    src: url("./fonts/roboto-v20-latin-500.woff") format("truetype");
    }
    
@font-face{
    font-family:"rob3";
    src: url("./fonts/roboto-v20-latin-700.woff") format("truetype");
}

@font-face{
    font-family:"rob4";
    src: url("./fonts/roboto-v20-latin-900.woff") format("truetype");
}


html{
    background-color: white;
}
body{
    width: 80%;
    margin: 0 auto;

}

header{
    background-color: rgb(13, 13, 70);
    width: 100%;
    display: flex;
}
header img{
    width: 100px;
}
nav{
    display: flex;
}
.menu{
    color: white;
    display: flex;
    justify-content: space-between;

}
.S1{
    margin: 0 auto;
    
}

li{
    list-style: none;
    display: inline;

}
